<h1 id="mainhome">FaceSpace</h1>



<img src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSFF-3BUrHDkJGXFqJg7BAPYfUUoI0ANex0XHW98367G0eFMLbEQoPA7Akz' id='man' width='200' height='200'> </img>

<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
      <img data-src="cuteness-overload-baby-seal-smiles-for-camera.jpg" alt="seal">
    </a>
  </li>
  
</ul>