<h1 id="mainhome">FaceSpace</h1>




<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
      <%= image_tag "cuteness-overload-baby-seal-smiles-for-camera.jpg" %>
    </a>
  </li>

  <li class="span4">
    <a href="#" class="thumbnail">
      <%= image_tag "man.jpeg" %>
    </a>
  </li>
  
</ul>